@page

<head>
    <link href="/css/fontawesome.all.min.css" rel="stylesheet">
</head>

<style>

  @@font-face {
        font-family: "B612Mono";
        src: url("webfonts/B612Mono-Regular.ttf");
    }

    #app {
        font-family: "B612Mono";
        font-size: 13px;
        color: #FDFDFD;
    }

    body {
        background: url('img/bkg2.png');
        background-size:64px;
        padding-top:0;


         text-shadow:
       2px 2px 0 rgba(30, 30, 30, .3),
     -1px -1px 0 rgba(30, 30, 30, 1),  
      1px -1px 0 rgba(30, 30, 30, 1),
      -1px 1px 0 rgba(30, 30, 30, 1),
       1px 1px 0 rgba(30, 30, 30, 1);
    }

    .game-title {
         text-shadow:
       2px 2px 0 #222,
     -1px -1px 0 #222,  
      1px -1px 0 #222,
      -1px 1px 0 #222,
       1px 1px 0 #222;
    }

    .monsters 
    , .items
    , .item-upgrader{
        background: rgba(22, 22, 22, .4);
        padding: 1em;
        margin: 1em;
    }

    .panel3 {
        display:inline-block;
        float:left;
        width: 400px;
    }

    .item.clickable:hover {
        color: white;
        background: black;
    }

    .item.non-clickable:hover {
        color: rgba(140, 140, 140, 1);
        background: rgba(66, 66, 66, .6);
    }

    .item.selected {
        background: lightblue;
    }

    .itemPendingServerUpdate { 
        color: #666;
        background: #eee;
    }

    .item-description-tooltip {
        color: black;
        background: white;
        border: 1px solid black;
        padding: .5em;
        text-shadow: none;
    }
    
    .item {
        cursor: default;
    }

    .infopanel-large {
        font-size: 2em;
    }


</style>

<div id="app">
    <h1 class="game-title">digsite</h1>
    <div v-if="!gameState.isLoaded" class="loading">
        Loading...
    </div>
    <div v-if="gameState.isLoaded">
        <div>
            <div class="panel3">

                <div class="infopanel-large">
                    <!--digging: {{ digState.hasDigState && !digState.isPaused }}-->
                    <div v-if="digState.hasDigState">
                        <div>
                        depth: {{ digState.depth }}
                            </div>
                        fuel: {{ digState.fuel }}
                    </div>
                </div>
                <br>


                game log:
                <textarea rows="20" cols="50" readonly class="messages">
                    {{ uiState.logMessages }}
                </textarea>


                <button v-if="!digState.hasDigState || digState.isPaused" v-on:click="startDigging">start dig</button>
                <button v-if="digState.hasDigState && !digState.isPaused" v-on:click="stopDigging">stop dig</button>
                <button v-if="digState.hasDigState" v-on:click="returnToSurface">return to surface</button>
            </div>
            <div class="panel3">
                <div class="monsters">
                    <h3>Nearby monsters</h3>
                    <br>
                    <div v-for="monster in digState.nearbyMonsters">
                        {{ monster.name }} ({{ monster.currentHealth }} / {{ monster.maxHealth }})
                    </div>
                </div>
            </div>
            <div class="panel3">
                <div class="items">
                    <h3>Items</h3>
                    <br>
                    <hr/>
                    <b>Equipped:</b>
                    <br>
                    <div v-for="playerItem in itemState" v-if="playerItem.isEquipped">
                        <div v-bind:class="getBackpackItemCssClass(playerItem)" v-on:click="backpackItemClicked(playerItem)">
                            <digsite-item :item="playerItem"/>
                        </div>
                    </div>
                    <hr/>

                    <div v-for="playerItem in itemState" v-if="!playerItem.isEquipped">
                        <div v-bind:class="getBackpackItemCssClass(playerItem)" v-on:click="backpackItemClicked(playerItem)">
                            <digsite-item :item="playerItem"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div style="clear:both;"/>
<br>
<br>
        <div>
            <div class="panel3">
                <digsite-item-upgrader :items="itemState" :player-id="gameState.playerId"/>
            </div>
        </div>
        </div>

    </div>
</div>

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/vue.js"></script>
<script src="~/js/vue-item.js"></script>
<script src="~/js/vue-item-upgrader.js"></script>
<script src="~/js/vue-app.js"></script>