@page
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<!-- <script src="~/js/dig.js"></script> -->
<script src="~/js/vue.js"></script>

<div id="app">
    <div v-if="!gameState.isLoaded" class="loading">
        Loading...
    </div>
    <div v-if="gameState.isLoaded">

        <textarea rows="20" cols="50" readonly class="messages">
        {{ uiState.logMessages }}
        </textarea>

        <div>
            money: {{ playerState.money }}
        </div>

        <div>
            digging: {{ playerState.isDigging }}
            <div v-if="playerState.isDigging">
                <div>

                depth: {{ digState.depth }}
                    </div>
                fuel: {{ digState.fuel }}
            </div>
        </div>

        <button v-if="!gameState.IsDigging" v-on:click="start">start dig</button>
        <button v-if="gameState.IsDigging" v-on:click="stop">stop dig</button>
    </div>
</div>



<script>

'use strict';



var app = new Vue({
  el: '#app',
  data: {
      gameState: {
          isLoaded: false,
          userId: 1001,
      },
      playerState: {
          money: -1,
          isDigging: false
      },
      digState: {
          depth: -1,
          fuel: -1
      },
      uiState: {
          logMessages: ''
      }
  },
  methods: {
      load: function() {
          console.log('load')
          connection.invoke('RequestPlayerState', this.gameState.userId).catch(function(err) {
              return console.error(err.toString())
          })
      },
      receivePlayerState: function(playerState) {
          this.playerState.money = playerState.money
          this.gameState.isLoaded = true
      },
    start: function () {
      console.log('start')
      connection.invoke('StartDigging', this.gameState.userId).catch(function (err) {
          return console.error(err.toString())
      })
    },
    stop: function () {
        console.log('stop')

      connection.invoke('StopDigging', this.gameState.userId).catch(function (err) {
          return console.error(err.toString())
      });
    },
    addMessage: function(message) {
        this.uiState.logMessages += '\n'
        this.uiState.logMessages += message

        var textarea = document.querySelector('.messages')
        textarea.scrollTop = textarea.scrollHeight
    }
  }
})



var connection = new signalR.HubConnectionBuilder().withUrl('/digHub').build();

connection.on('Find', function (thing, value) {
    var message = 'found a ' + thing + ' worth ' + value
    app.addMessage(thing)
})

connection.start()
.catch(function (err) {
    return console.error(err.toString())
}).then(function() {
    app.load()
})

connection.on('ReceivePlayerState', function(data) {
    app.receivePlayerState(data)
})

</script>
