<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div id="app">
<textarea readonly class="messages">
  {{ messages }}
</textarea>

	<div>
		count: {{ count }} 
	</div>
	<div>
		count: {{ person }} 
	</div>



	<button v-on:click="start">start</button>
	<button v-on:click="stop">stop</button>
</div>




<script>

var app = new Vue({
  el: '#app',
  data: {
    messages: 'Hello Vue!',
    count: 0
  },
methods: {
    start: function () {
	console.log('start')
    },
    stop: function () {
	console.log('stop')
    },
    addMessage: function(message) {
	this.messages += '\n'
	this.messages += message
    }
  }
})



</script>